
@{
    ViewBag.Title = "GetAllAuthor";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Quản lý sách</h3>
<hr />

@Html.ActionLink("Create New", "CreateAuthor")

<table id="authors-table" class="table">
    <thead>
        <tr>
            <th scope="col">Author ID</th>
            <th scope="col">Author Name</th>
            <th scope="col">History</th>
            <th scope="col" colspan="3">Action</th>
        </tr>
    </thead>

    <tbody> </tbody>
</table>

